@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Rubik', 'DM Sans', sans-serif;
    }
    
    html {
        font-family: 'Rubik', 'DM Sans', sans-serif;
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Rubik', 'DM Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Rubik', 'DM Sans', sans-serif;
    }

    @font-face {
        font-family: 'Rubik Regular';
        src: url('../fonts/Rubik/Rubik-Regular.ttf');
        src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Rubik Medium';
        src: url('../fonts/Rubik/Rubik-Medium.ttf');
        src: url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Rubik Light';
        src: url('../fonts/Rubik/Rubik-Light.ttf');
        src: url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Rubik SemiBold';
        src: url('../fonts/Rubik/Rubik-SemiBold.ttf');
        src: url('../fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Rubik Bold';
        src: url('../fonts/Rubik/Rubik-Bold.ttf');
        src: url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Rubik ExtraBold';
        src: url('../fonts/Rubik/Rubik-ExtraBold.ttf');
        src: url('../fonts/Rubik/Rubik-ExtraBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Rubik Black';
        src: url('../fonts/Rubik/Rubik-Black.ttf');
        src: url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
    }

    @font-face {
        font-family: 'DMSans Regular';
        src: url('../fonts/DMSans/DMSans-Regular.ttf');
        src: url('../fonts/DMSans/DMSans-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'DMSans Medium';
        src: url('../fonts/DMSans/DMSans-Medium.ttf');
        src: url('../fonts/DMSans/DMSans-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'DMSans Bold';
        src: url('../fonts/DMSans/DMSans-Bold.ttf');
        src: url('../fonts/DMSans/DMSans-Bold.ttf') format('truetype');
    }

    .text-gradient {
        background-color: #fff;
        background: linear-gradient(141.55deg, #FF6600 -3.79%, #2042B8 82.82%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bg-gradient {
        background-color: #0f0e13;
        background-image: linear-gradient(141.55deg, #FF6600 -3.79%, #2042B8 82.82%);
    }

    .bg-gradient-plus {
        background: linear-gradient(135.18deg, #2042B8 10.17%, #FF6600 103.56%);
    }

    .border-gradient {        
        border-color: rgb(180 83 9);
    }

    .tab {
        overflow: hidden;
    }

    .tab-content {
        max-height: 0;
        transition: all 0.3s;
    }

    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
    }

    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }

    input:checked ~ .tab-content {
        max-height: 100vh;
    }
}