@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
    }

    @font-face {
        font-family: "RubikRegular";
        src: url("../fonts/Rubik/Rubik-Regular.ttf") format('ttf');
    }

    @font-face {
        font-family: "RubikMedium";
        src: url("../fonts/Rubik/Rubik-Medium.ttf") format('ttf');
    }

    @font-face {
        font-family: "RubikLight";
        src: url("../fonts/Rubik/Rubik-Light.ttf") format('ttf');
    }

    @font-face {
        font-family: "RubikSemiBold";
        src: url("../fonts/Rubik/Rubik-SemiBold.ttf") format('ttf');
    }

    @font-face {
        font-family: "RubikBold";
        src: url("../fonts/Rubik/Rubik-Bold.ttf") format('ttf');
    }

    @font-face {
        font-family: "RubikExtraBold";
        src: url("../fonts/Rubik/Rubik-ExtraBold.ttf") format('ttf');
    }

    @font-face {
        font-family: "RubikBlack";
        src: url("../fonts/Rubik/Rubik-Black.ttf") format('ttf');
    }



    @font-face {
        font-family: "RubikRegular";
        src: url("../fonts/DMSans/DMSans-Regular.ttf") format('ttf');
    }

    @font-face {
        font-family: "RubikMedium";
        src: url("../fonts/DMSans/DMSans-Medium.ttf") format('ttf');
    }

    @font-face {
        font-family: "DMSansBold";
        src: url("../fonts/DMSans/DMSans-Bold.ttf") format('ttf');
    }
}